/*+clearfix {*/
P.video-stat-text:after, A:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
P.video-stat-text, A
{
	display: inline-block;
}
P.video-stat-text, A
{
	/*\*/
	display: block;
	/**/
	-height: 1px;
}
/*+}*/
#oculus-video-player
{
	margin-left: auto;
	margin-right: auto;
	background-color: #ECECEC;
	width: 100%;
}
.video-stat-list-item:hover .video-stat-text
{
	font-weight: bold;
}
.video-stat-list-item .video-stat-tooltip
{
	display: none;
	z-index: 10;
	padding: 20px;
	max-width: 300px;
	min-width: 200px;
}
.video-stat-list-item:hover .video-stat-tooltip
{
	display: block;
	background: #ECECEC;
	/*+placement:anchor-bottom-right 0px 50px;*/
	position: absolute;
	right: 0px;
	bottom: 50px;
	border: 1px solid #000000;
}
#active-video-stat-list .video-stat-list-item:hover .video-stat-tooltip
{
	margin: 0px 0 0px 0px;
}
LI.sort-list-item
{
	display: inline;
	margin: 0px 0px 0px 10px;
}
LI.sort-list-item:hover
{
	border-bottom: 2px solid #404040;
	cursor: pointer;
}
UL.sort-list
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	display: inline;
}
LI.sort-list-item.selected
{
	border-bottom: 1px solid #404040;
}
.video-stat-list
{
	width: 270px;
	height: 28px;
	padding: 3px;
	background-color: rgb(245, 233, 190);
	margin: 10px;
	border: 1px solid rgb(205, 205, 205);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline-block;
}
UL#active-video-stat-list
{
	width: auto;
	padding: 3px;
	margin: 0 30px 0 0;
	display: inline-block;
	height: auto;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	overflow: visible;
}
LI.video-stat-list-item
{
	list-style-type: none;
	display: inline;
	margin: 0px 5px;
	vertical-align: middle;
}
/*[clearfix]*/P.video-stat-text
{
	width: auto;
	height: 24px;
	padding: 0px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	display: inline-block;
}
/*[clearfix]*/A
{
}
.video-stat
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: auto;
	height: 15px;
}
#oculus-video-player-lower
{
	width: 100%;
	height: 100%;
	background-color: #F1F1F1;
}
IMG.video-gallery-thumbnail
{
	width: 276px;
	height: 207px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin: 10px 10px 0px;
	border: 1px solid rgb(153, 153, 153);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
IMG.video-gallery-thumbnail:hover
{
	border: 5px solid #F05752;
	margin: 6px 6px -4px;
}
.video-stat A
{
	text-decoration: none;
}
.video-stat-icon
{
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 24px;
	margin: 0px 5px;
}
.twitter-stat-icon
{
	background-image: url('/images/twitterBird.jpg');
}
#active-video
{
	width: 960px;
	height: 100%;
	margin: 0px auto;
	padding: 10px;
	overflow: hidden;
}
#oculus-video-player-upper
{
	width: 100%;
	height: 100%;
	background-color: #ECECEC;
	border-bottom: 1px solid #CDCDCD;
}
DIV#active-video-info
{
	margin: 10px 0px;
	width: 960px;
	display: block;
	height: auto;
}
#active-video-frame
{
	width: 900px;
	height: 550px;
	margin: 0px 30px;
	padding: 0px;
}
#active-video-title
{
	height: auto;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Cabin, Arial, sans-serif;
	color: rgb(64, 64, 64);
	font-size: 24px;
	padding: 0;
	font-weight: 400;
	vertical-align: middle;
	display: inline-block;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	margin: 0px 0px 0px 30px;
}
#active-video-stats
{
	display: block;
	margin: 0 0 10px auto;
	padding: 0px;
	height: 40px;
}
.video-gallery
{
	background-color: #FFFFFF;
	margin: 0px auto;
	width: 960px;
}
DIV.video-gallery-item
{
	width: 298px;
	height: 330px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	background-color: #FFFFFF;
	margin: 10px;
	border: 1px solid rgb(153, 153, 153);
	padding: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#video-galleries
{
	width: 100%;
	height: 100%;
}
.video-gallery-title
{
	font-weight: 400;
	font-size: 18px;
	text-overflow: ellipsis;
	color: rgb(64, 64, 64);
	/*[empty]font-family:;*/
	width: 278px;
	height: 45px;
	overflow: hidden;
	padding: 0 10px 5px;
	margin: 0px 0px 0;
	text-align: center;
}
H2.video-gallery-title
{
	font-size: 24px;
	padding: 0;
	margin: 0px 5px 0px 0px;
	width: auto;
	height: auto;
	text-align: left;
	display: inline;
}
DIV.video-gallery-header
{
	padding: 20px 0px 0px 20px;
	background-color: #F1F1F1;
	width: 960px;
	margin: 0px auto;
	overflow: hidden;
}
.video-thumbnail
{
}
DIV.video-stat-container
{
	width: 300px;
	height: 30px;
	padding: 0;
}
DIV.video-stat-inner-container
{
	margin: 0px;
	padding: 0;
	width: 300px;
	height: 34px;
}
.video-title
{
	color: #404040;
}
LI.sort-list-item.active
{
	border-bottom: 2px solid #404040;
}
#active-video-menu-bar
{
	width: 960px;
	height: 10px;
}
.youtube-stat-icon
{
	background-image: url('/images/youtubeLogo.jpg');
}
.reddit-stat-icon
{
	background-image: url('/images/redditAlien.jpg');
}
LI.sort-list-item.selected:hover
{
	border-bottom: 2px solid #404040;
}
.video-stat-list-item:hover .video-stat-icon
{
	border: 1px solid #999999;
	margin: -1px 4px;
}
.video-stat-list-item:hover
{
	cursor: pointer;
}
